In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('BattingSummaryINDIA.csv')
print(df.tail())

     Abc               Name Out/NotOut  Runs  Balls  4s  6s      SR
532    2    Ruturaj Gaikwad        Out     8     14   1   0   57.14
533    3       Sanju Samson        Out    51     41   2   4  124.39
534    4  Hardik Pandya (c)    Not Out    70     52   4   5  134.61
535    5   Suryakumar Yadav        Out    35     30   2   2  116.66
536    6    Ravindra Jadeja    Not Out     8      7   0   0  114.28

In [2]:
df = df.drop(['Abc'],axis=1)
print(df)

                  Name Out/NotOut  Runs  Balls  4s  6s      SR
0       Shikhar Dhawan        Out     8     12   1   0   66.66
1         Rohit Sharma    Not Out   122    144  13   2   84.72
2      Virat Kohli (c)        Out    18     34   1   0   52.94
3             KL Rahul        Out    26     42   2   0   61.90
4           MS Dhoni �        Out    34     46   2   0   73.91
..                 ...        ...   ...    ...  ..  ..     ...
532    Ruturaj Gaikwad        Out     8     14   1   0   57.14
533       Sanju Samson        Out    51     41   2   4  124.39
534  Hardik Pandya (c)    Not Out    70     52   4   5  134.61
535   Suryakumar Yadav        Out    35     30   2   2  116.66
536    Ravindra Jadeja    Not Out     8      7   0   0  114.28

[537 rows x 7 columns]

In [3]:
df['Name']=df['Name'].apply(lambda x: x.replace('�',''))
df['Name']=df['Name'].apply(lambda x: x.replace('(c)',''))
df['Name']=df['Name'].apply(lambda x: x.replace('†',''))
df['Name']=df['Name'].str.rstrip()


df.drop(df[df['SR']=='-'].index,inplace=True)

In [4]:
df1 = pd.get_dummies(df['Out/NotOut'],drop_first = True)
# print(df1)

In [5]:
df = pd.concat([df,df1],axis=1)
# print(df)

In [6]:
df.drop(['Out/NotOut'],inplace=True,axis=1)
# print(df)

In [7]:
df['Matches Played'] = df.groupby('Name')['Name'].transform('count')

In [8]:
df = df.sort_values(by='Name')
# print(df)

In [9]:
grouped = df.groupby('Name')
outs = grouped[['Out']].sum().reset_index().drop_duplicates()
# print(outs)

In [10]:
df = df.drop_duplicates(subset=['Name'])
# df

In [11]:
aggregated = grouped[['Runs','Balls',"4s","6s",]].sum()
SR_aggregated = grouped[['SR']].sum()
aggregated

                     Runs  Balls   4s  6s
Name
Arshdeep Singh          9      9    0   1
Avesh Khan             13     18    2   0
Axar Patel            232    213   10  13
Bhuvneshwar Kumar      29     50    2   0
Chetan Sakariya         0      1    0   0
Deepak Chahar         191    193   16   8
Deepak Hooda          153    189   10   1
Dinesh Karthik         14     34    2   0
Hardik Pandya         935    860   77  29
Ishan Kishan          694    646   73  26
Jasprit Bumrah         29     51    3   0
Jayant Yadav            2      6    0   0
KL Rahul             1643   1870  126  41
Kedar Jadhav          215    222   20   4
Krishnappa Gowtham      2      3    0   0
Krunal Pandya         130    128   11   2
Kuldeep Sen             2      4    0   0
Kuldeep Yadav          64    105    5   0
MS Dhoni              273    311   20   5
Manish Pandey         126    146    8   1
Mayank Agarwal         86     83   12   1
Mohammed Shami         73     87    5   3
Mohammed Siraj         30     64    2   0
Mukesh Kumar            6      7    1   0
Navdeep Saini         107    137    9   3
Nitish Rana             7     14    0   0
Prasidh Krishna         2     12    0   0
Prithvi Shaw          189    166   32   2
Rahul Chahar           13     25    0   0
Ravi Bishnoi            4      2    1   0
Ravichandran Ashwin    32     37    1   1
Ravindra Jadeja       525    602   32  13
Rishabh Pant          772    740   80  23
Rohit Sharma         1827   1826  203  57
Ruturaj Gaikwad        27     56    2   0
Sanju Samson          390    375   27  19
Shahbaz Ahmed           0      4    0   0
Shardul Thakur        293    281   31   7
Shikhar Dhawan       1438   1727  176  12
Shivam Dube             9      6    1   0
Shreyas Iyer         1421   1472  140  29
Shubman Gill         1421   1349  164  28
Suryakumar Yadav      511    504   53  11
Umran Malik             2     11    0   0
Venkatesh Iyer         24     40    0   1
Vijay Shankar          58     75    6   0
Virat Kohli          2055   2112  192  22
Washington Sundar     233    272   17   6
Yuzvendra Chahal       43     74    3   0

In [12]:
df=df.drop('Out',axis=1)

In [13]:
# print(len(df))
# print(type(outs['Out']))
# print(outs['Out'])
# # print(new_outs['Out'])

In [14]:
df['Out']=list(outs['Out'])
# df

In [15]:
# print(type(aggregated['Runs']))
# print(type(df['Runs']))
df['Runs']=list(aggregated['Runs'])
df['4s']=list(aggregated['4s'])
df['6s']=list(aggregated['6s'])
df['Balls']=list(aggregated['Balls'])
df['SR'] =df['Runs']/df['Balls']*100
df['Avg'] = df['Runs']/df['Out']
# df = df.set_index('Name')
df

,Name,Runs,Balls,4s,6s,SR,Matches Played,Out,Avg
401,Arshdeep Singh,9,9,0,1,100.000000,1,1,9.000000
335,Avesh Khan,13,18,2,0,72.222222,2,2,6.500000
522,Axar Patel,232,213,10,13,108.920188,12,8,29.000000
69,Bhuvneshwar Kumar,29,50,2,0,58.000000,6,5,5.800000
240,Chetan Sakariya,0,1,0,0,0.000000,1,0,NaN
399,Deepak Chahar,191,193,16,8,98.963731,8,5,38.200000
397,Deepak Hooda,153,189,10,1,80.952381,7,6,25.500000
65,Dinesh Karthik,14,34,2,0,41.176471,2,2,7.000000
66,Hardik Pandya,935,860,77,29,108.720930,29,25,37.400000
462,Ishan Kishan,694,646,73,26,107.430341,16,15,46.266667
250,Jasprit Bumrah,29,51,3,0,56.862745,7,2,14.500000
266,Jayant Yadav,2,6,0,0,33.333333,1,1,2.000000
200,KL Rahul,1643,1870,126,41,87.860963,39,34,48.323529
86,Kedar Jadhav,215,222,20,4,96.846847,11,6,35.833333
237,Krishnappa Gowtham,2,3,0,0,66.666667,1,1,2.000000
211,Krunal Pandya,130,128,11,2,101.562500,4,2,65.000000
413,Kuldeep Sen,2,4,0,0,50.000000,1,0,inf
467,Kuldeep Yadav,64,105,5,0,60.952381,13,6,10.666667
24,MS Dhoni,273,311,20,5,87.781350,8,6,45.500000
224,Manish Pandey,126,146,8,1,86.301370,6,5,25.200000
137,Mayank Agarwal,86,83,12,1,103.614458,5,5,17.200000
468,Mohammed Shami,73,87,5,3,83.908046,14,9,8.111111
434,Mohammed Siraj,30,64,2,0,46.875000,10,5,6.000000
529,Mukesh Kumar,6,7,1,0,85.714286,1,1,6.000000
239,Navdeep Saini,107,137,9,3,78.102190,5,2,53.500000
236,Nitish Rana,7,14,0,0,50.000000,1,1,7.000000
310,Prasidh Krishna,2,12,0,0,16.666667,4,2,1.000000
221,Prithvi Shaw,189,166,32,2,113.855422,6,6,31.500000
238,Rahul Chahar,13,25,0,0,52.000000,1,1,13.000000
370,Ravi Bishnoi,4,2,1,0,200.000000,1,0,inf
247,Ravichandran Ashwin,32,37,1,1,86.486486,2,1,32.000000
317,Ravindra Jadeja,525,602,32,13,87.209302,19,10,52.500000
75,Rishabh Pant,772,740,80,23,104.324324,22,21,36.761905
311,Rohit Sharma,1827,1826,203,57,100.054765,37,33,55.363636
363,Ruturaj Gaikwad,27,56,2,0,48.214286,2,2,13.500000
341,Sanju Samson,390,375,27,19,104.000000,12,7,55.714286
409,Shahbaz Ahmed,0,4,0,0,0.000000,1,1,0.000000
388,Shardul Thakur,293,281,31,7,104.270463,20,16,18.312500
198,Shikhar Dhawan,1438,1727,176,12,83.265779,37,34,42.294118
94,Shivam Dube,9,6,1,0,150.000000,1,1,9.000000
416,Shreyas Iyer,1421,1472,140,29,96.535326,33,30,47.366667
436,Shubman Gill,1421,1349,164,28,105.337287,25,21,67.666667
493,Suryakumar Yadav,511,504,53,11,101.388889,24,21,24.333333
528,Umran Malik,2,11,0,0,18.181818,3,1,2.000000
256,Venkatesh Iyer,24,40,0,1,60.000000,2,2,12.000000
33,Vijay Shankar,58,75,6,0,77.333333,3,2,29.000000
15,Virat Kohli,2055,2112,192,22,97.301136,46,43,47.790698
430,Washington Sundar,233,272,17,6,85.661765,9,8,29.125000
309,Yuzvendra Chahal,43,74,3,0,58.108108,7,5,8.600000

In [16]:
import numpy as np
df.loc[df['Avg'] == np.inf, 'Avg'] = df[df['Avg'] == np.inf]['Runs']
df['Avg'].fillna(0, inplace=True)
df

,Name,Runs,Balls,4s,6s,SR,Matches Played,Out,Avg
401,Arshdeep Singh,9,9,0,1,100.000000,1,1,9.000000
335,Avesh Khan,13,18,2,0,72.222222,2,2,6.500000
522,Axar Patel,232,213,10,13,108.920188,12,8,29.000000
69,Bhuvneshwar Kumar,29,50,2,0,58.000000,6,5,5.800000
240,Chetan Sakariya,0,1,0,0,0.000000,1,0,0.000000
399,Deepak Chahar,191,193,16,8,98.963731,8,5,38.200000
397,Deepak Hooda,153,189,10,1,80.952381,7,6,25.500000
65,Dinesh Karthik,14,34,2,0,41.176471,2,2,7.000000
66,Hardik Pandya,935,860,77,29,108.720930,29,25,37.400000
462,Ishan Kishan,694,646,73,26,107.430341,16,15,46.266667
250,Jasprit Bumrah,29,51,3,0,56.862745,7,2,14.500000
266,Jayant Yadav,2,6,0,0,33.333333,1,1,2.000000
200,KL Rahul,1643,1870,126,41,87.860963,39,34,48.323529
86,Kedar Jadhav,215,222,20,4,96.846847,11,6,35.833333
237,Krishnappa Gowtham,2,3,0,0,66.666667,1,1,2.000000
211,Krunal Pandya,130,128,11,2,101.562500,4,2,65.000000
413,Kuldeep Sen,2,4,0,0,50.000000,1,0,2.000000
467,Kuldeep Yadav,64,105,5,0,60.952381,13,6,10.666667
24,MS Dhoni,273,311,20,5,87.781350,8,6,45.500000
224,Manish Pandey,126,146,8,1,86.301370,6,5,25.200000
137,Mayank Agarwal,86,83,12,1,103.614458,5,5,17.200000
468,Mohammed Shami,73,87,5,3,83.908046,14,9,8.111111
434,Mohammed Siraj,30,64,2,0,46.875000,10,5,6.000000
529,Mukesh Kumar,6,7,1,0,85.714286,1,1,6.000000
239,Navdeep Saini,107,137,9,3,78.102190,5,2,53.500000
236,Nitish Rana,7,14,0,0,50.000000,1,1,7.000000
310,Prasidh Krishna,2,12,0,0,16.666667,4,2,1.000000
221,Prithvi Shaw,189,166,32,2,113.855422,6,6,31.500000
238,Rahul Chahar,13,25,0,0,52.000000,1,1,13.000000
370,Ravi Bishnoi,4,2,1,0,200.000000,1,0,4.000000
247,Ravichandran Ashwin,32,37,1,1,86.486486,2,1,32.000000
317,Ravindra Jadeja,525,602,32,13,87.209302,19,10,52.500000
75,Rishabh Pant,772,740,80,23,104.324324,22,21,36.761905
311,Rohit Sharma,1827,1826,203,57,100.054765,37,33,55.363636
363,Ruturaj Gaikwad,27,56,2,0,48.214286,2,2,13.500000
341,Sanju Samson,390,375,27,19,104.000000,12,7,55.714286
409,Shahbaz Ahmed,0,4,0,0,0.000000,1,1,0.000000
388,Shardul Thakur,293,281,31,7,104.270463,20,16,18.312500
198,Shikhar Dhawan,1438,1727,176,12,83.265779,37,34,42.294118
94,Shivam Dube,9,6,1,0,150.000000,1,1,9.000000
416,Shreyas Iyer,1421,1472,140,29,96.535326,33,30,47.366667
436,Shubman Gill,1421,1349,164,28,105.337287,25,21,67.666667
493,Suryakumar Yadav,511,504,53,11,101.388889,24,21,24.333333
528,Umran Malik,2,11,0,0,18.181818,3,1,2.000000
256,Venkatesh Iyer,24,40,0,1,60.000000,2,2,12.000000
33,Vijay Shankar,58,75,6,0,77.333333,3,2,29.000000
15,Virat Kohli,2055,2112,192,22,97.301136,46,43,47.790698
430,Washington Sundar,233,272,17,6,85.661765,9,8,29.125000
309,Yuzvendra Chahal,43,74,3,0,58.108108,7,5,8.600000

In [17]:
df.index[df['Avg']==np.inf]

Int64Index([], dtype='int64')

In [18]:
df.to_csv('NewBattingSummary.csv')